.academicEducation {
    margin: 0 auto;
    max-width: 701px;
    margin-bottom: 4rem;
}

.title {
    font-size: 2rem;
    color: var(--blue-gray);
    margin-bottom: 2.375rem;
}

.itens {
    margin-bottom: 1.875rem;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.subTitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-shade);
}

.modality {
    display: flex;
    align-items: center;
    font-size: .563rem;
    font-weight: bold;
    color: var(--lime-green);
    background-color: var(--pale-green);
    padding: 5px 20px;
    border-radius: 15px;
}

.body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
    border-bottom: 2px solid #EBEAED;
}

.details {
    display: flex;
}

.miniIcons {
    font-size: 1rem;
    color: var(--gray-shade);
    margin-right: .5rem;
}

.institution,
.city,
.date {
    display: flex;
    font-size: .75rem;
    color: var(--gray-shade);
}

.institution,
.city,
.date:not(:last-child) {
    margin-right: 2.5rem;
}

.institution,
.city {
    min-width: 150px;
    /* background-color: #aaa; */
}

.date span {
    padding: 0 7px;
}