.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-web ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.link-menu {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--gray-shade);
    text-transform: capitalize;
}

/* nav mobile */
.nav-mobile {
    display: none;
    width: 100%;
}

.nav-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    min-height: calc(100vh - 100px);
}