.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-web ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.link-menu {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--gray-shade);
    text-transform: capitalize;
}

/* nav mobile */
.nav-mobile {
    display: none;
    width: 100%;

    background-color: rgb(228, 222, 222);
}

.nav-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.open {
    display: flex;
}

.burger-menu {
    display: none;
}

/* General */
@media(max-width: 992px) {
    .nav-web {
        display: none;
    }

    .navbar {}

    .burger-menu {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
    }
}

/* Mobile */
@media(min-width: 481px) {}

/* Extra small devices */
@media(min-width: 481px) and (max-width: 767px) {}

/* Small tablets */
@media(min-width: 768px) and (max-width: 992px) {}

/* Large tablets/laptops */
@media(min-width: 993px) and (max-width: 1199px) {}