.navbar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1204px;
    width: 100%;
    position: fixed;
    background-color: var(--white-smoke);

}

.container_navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;    
}

.nav_web {
    width: 600px;
    padding: 0 1rem;
}

.nav_item {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border-bottom .200s;
}

.nav_item:hover {  
    border-bottom: 2px solid var(--blue-gray);
}

.nav_web ul {
    display: flex;
    justify-content: space-between;
}

.link_menu {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--gray-shade);
    text-transform: capitalize;
}

.nav_item:hover .link_menu {
    font-weight: 400;
    color: var(--blue-gray);
}

/* nav mobile */
.nav_mobile {
    display: none;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: rgb(228, 222, 222);
}

.nav_mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.open {
    display: flex;
}

.burger_menu {
    display: none;
}

/* General */
@media(max-width: 992px) {
    .nav_web {
        display: none;
    }

    .container_navbar {
        height: 60px;
    }

    .burger_menu {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
    }
}

/* Mobile */
@media(min-width: 481px) {}

/* Extra small devices */
@media(min-width: 481px) and (max-width: 767px) {}

/* Small tablets */
@media(min-width: 768px) and (max-width: 992px) {}

/* Large tablets/laptops */
@media(min-width: 993px) and (max-width: 1199px) {}