* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue-gray: #42446E;
    --gray-shade: #666666;
}

body {
    background-color: #f5f5f5;
}

ul {
    list-style: none;
}

.router-button {
    text-decoration: none;
}

.sub-title {
    font-size: 2rem;
    color: var(--gray-shade);
    margin-bottom: 2.375rem;
}
