.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.my_presentation {
    margin-bottom: 2.5rem;
}

.title {
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--blue-gray);
}

.title span {
    display: block;
}

.name {
    background: linear-gradient(to right, var(--dodger-blue), var(--magenta));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.social_media {
    display: flex;
    gap: 2rem;
}

img {
    /* width: 100%; */
    min-width: 445px;
    max-height: 445px;
    border-radius: 50%;
    border: 10px solid transparent;
    /* background-image: linear-gradient(-50deg, var(--magenta), var(--sky-blue)); */
    overflow: hidden;
}

/* Mobile */
@media(max-width: 481px) {
    img {
        display: none;
    }
}

/* Extra small devices */
@media(min-width: 481px) and (max-width: 767px) {
    img {
        min-width: 330px;
        max-height: 330px;
    }
}

/* Small tablets */
@media(min-width: 768px) and (max-width: 992px) {
    img {
        min-width: 400px;
        max-height: 400px;
    }
}

/* Large tablets/laptops */
@media(min-width: 993px) and (max-width: 1199px) {}