.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.my_presentation {
    margin-bottom: 2.5rem;
}

.title {
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--blue-gray);
}

.title span {
    display: block;
}

.title #name {
    background: linear-gradient(to right, #13b0f5, #e70faa);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.social_media {
    display: flex;
    gap: 2rem;
}

.presentation img {
    width: 100%;
    max-width: 445px;
    max-height: 445px;
    border-radius: 50%;
    border: 10px solid transparent;
    background-image: linear-gradient(80deg, rgba(231, 15, 170, 1), rgba(0, 192, 253, 1));
    overflow: hidden;
}